@import "../global/mediaQueries.scss";


.pagination .inner-con {
  flex-direction: column;
  gap: 25px;
}


@include media-xsmall {
  .pagination .inner-con {
    flex-direction: row;
    gap: 5rem;
  }
}

@include media-xlarge {
  .project-list {
    flex-wrap: wrap;
    flex-direction: row;

    .project-item {
      width: calc(50% - 10px);
      // min-width: 50%;
    }
  }
}

