@import "../global/mediaQueries.scss";

.textfield {
  height: 30px;
  max-width: 700px;

  &#description {
    height: 200px;
  }
}

// style={{ maxWidth: "500px" }}

.keywords-con,
.tags-con {
  max-width: 700px;
}
