---
import MainLayout from "../layouts/mainLayout.astro"
import { Icon } from "../components/Icon/Icon"
import { Stack } from "../components/Stack/Stack"
import { ProjectCard } from "../components/ProjectCard/ProjectCard"
import type { ProjectCardProps } from "../components/ProjectCard/types"
import type { StackProps } from "../components/Stack/types"

const stacks: StackProps[] = [
	{
		field: "languages",
		stacks: "html,css,js,ts,py,bash",
	},
	{
		field: "backend",
		stacks: "nodejs,express,fastapi,django",
	},
	{
		field: "fullstack",
		stacks: "react,astro,tailwind,flutter",
	},
	{
		field: "databases",
		stacks: "firebase,postgres,redis",
	},
	{
		field: "technologies",
		stacks: "git,linux,googlecloud",
	},
	{
		field: "dev_tools",
		stacks: "sublime,vscode,neovim",
	},
] as const;
const projects: ProjectCardProps[] = [
  {
    name: "AnimeHub",
    mainLang: "TypeScript",
    desc: "A comprehensive platform for anime enthusiasts, offering real-time updates, episode tracking, and community forums. Built with a TypeScript and React stack, this project integrates with multiple APIs for a seamless user experience.",
    image_url: "https://thullydev.github.io/thullyDevStatics/images/mangarealm-logo.png",
    slug: "animehub"
  },
  {
    name: "MangaWorld",
    mainLang: "Python",
    desc: "An online manga reader with a vast library, personalized recommendations, and a sleek, user-friendly interface. Developed with Python and Django, it offers fast and secure access to manga from various sources.",
    image_url: "https://thullydev.github.io/thullyDevStatics/images/mangarealm-logo.png",
    slug: "mangaworld"
  },
  {
    name: "CodeStream",
    mainLang: "JavaScript",
    desc: "A live coding platform where developers can stream their coding sessions, interact with viewers, and share their projects. Utilizes a JavaScript-based stack with Node.js and Express for backend services.",
    image_url: "https://thullydev.github.io/thullyDevStatics/images/mangarealm-logo.png",
    slug: "codestream"
  },
  {
    name: "DevConnect",
    mainLang: "JavaScript",
    desc: "A social networking site for developers to connect, share projects, and collaborate on open-source initiatives. Built with a Node.js and Express backend.",
    image_url: "https://thullydev.github.io/thullyDevStatics/images/mangarealm-logo.png",
    slug: "devconnect"
  },
] as const;
---

<MainLayout title={"Home"}>
	<div class="github-analytics-con flex flex-col gap-5 mb-5">
		<div class="left-side">
			<div class="inner-con">
				<a href="https://github.com/thullyDev" class="github-link flex flex-col gap-5">
					<img height="180em" src="https://github-profile-summary-cards.vercel.app/api/cards/profile-details?username=thullyDev&theme=dracula" alt="Top languages" />
				  <img height="180em" src="https://github-readme-stats-eight-theta.vercel.app/api?username=thullyDev&show_icons=true&include_all_commits=true&count_private=false&theme=dracula" alt="Profile summary" />
				</a>
			</div>
		</div>
		<div class="right-side">
			<div class="inner-con">
				<a href="https://github.com/thullyDev" class="github-link flex items-center justify-center flex-col">
					<span class="github-link-con flex justify-center ">
							<Icon icon="fa-brands fa-github-square" /> My github
					</span>
			    <img class="w-80" src="https://github-readme-stats-eight-theta.vercel.app/api/top-langs/?username=thullyDev&layout=compact&langs_count=8&theme=dracula" alt="Top languages" />
				</a>
			</div>
		</div>
	</div>
	<div class="mytech-stack-con">
		<div class="inner-con flex justify-center flex-col gap-5">
			{
				stacks.map((item) => {
					return (
						<Stack {...item} />
					)
				})
			}
		</div>
	</div>
	<div class="projects-con flex flex-col gap-5 my-5">
		<span class="label flex justify-between w-full">
			My Projects <a href="/projects" class="underline capitalize text-pink-500">more</a>
		</span>
		<div class="inner-projects-con">
			<div class="inner-con">
				<ul class="project-list flex flex-col gap-4">
					{projects.map((item) => { 
						return (
							<li class="project-item">
								<ProjectCard {...item} />
							</li>
						) 
					})
					}
				</ul>
			</div>
		</div>
	</div>
</MainLayout>