---
import MainLayout from "../layouts/mainLayout.astro"
import { Icon } from "../components/Icon/Icon"
import { AboutMe } from "../components/AboutMe/AboutMe"
import { Stack } from "../components/Stack/Stack"
import { ProjectCard } from "../components/ProjectCard/ProjectCard"
import type { ProjectCardProps } from "../components/ProjectCard/types"
import type { StackProps } from "../components/Stack/types"
import { getFeatureProjects } from "../services/github"
import "../styles/pages/home.scss"

const stacks: StackProps[] = [
	{
		field: "languages",
		stacks: "html,css,js,ts,py,bash",
	},
	{
		field: "backend",
		stacks: "nodejs,express,fastapi,django",
	},
	{
		field: "fullstack",
		stacks: "react,astro,tailwind,flutter",
	},
	{
		field: "databases",
		stacks: "firebase,postgres,redis",
	},
	{
		field: "technologies",
		stacks: "git,linux,googlecloud",
	},
	{
		field: "dev_tools",
		stacks: "sublime,vscode,neovim",
	},
] as const;
const projects: ProjectCardProps[] = await getFeatureProjects() as const;
---

<MainLayout title={"Home"}>
	<div class="github-analytics-con flex flex-col gap-5 mb-5">
		<div class="left-side">
			<div class="inner-con">
				<a href="https://github.com/thullyDev" class="github-link flex flex-col gap-5 items-center">
					<img class="w-full max-w-md" src="https://github-profile-summary-cards.vercel.app/api/cards/profile-details?username=thullyDev&theme=dracula" alt="Top languages" />
				  <img class="w-full max-w-96" src="https://github-readme-stats-eight-theta.vercel.app/api?username=thullyDev&show_icons=true&include_all_commits=true&count_private=false&theme=dracula" alt="Profile summary" />
				</a>
			</div>
		</div>
		<div class="right-side">
			<div class="inner-con">
				<a href="https://github.com/thullyDev" class="github-link flex items-center justify-center flex-col gap-4">
					<span class="github-link-con flex justify-center items-center gap-2">
							<Icon icon="fa-brands fa-github-square" /> My github
					</span>
			    <img class="w-full max-w-80" src="https://github-readme-stats-eight-theta.vercel.app/api/top-langs/?username=thullyDev&layout=compact&langs_count=8&theme=dracula" alt="Top languages" />
				</a>
			</div>
		</div>
	</div>
	<div class="mytech-stack-con">
		<div class="inner-con flex justify-center flex-col gap-5">
			{
				stacks.map((item) => {
					return (
						<Stack {...item} />
					)
				})
			}
		</div>
	</div>
	<div class="projects-con flex flex-col gap-5 my-5">
		<span class="label flex justify-between w-full">
			My Projects <a href="/projects" class="underline capitalize text-pink-500">more</a>
		</span>
		<div class="inner-projects-con">
			<div class="inner-con">
				<ul class="project-list flex flex-col gap-4 items-center w-full">
					{projects.map((item) => { 
						return (
							<li class="project-item h-44">
								<ProjectCard {...item} />
							</li>
						) 
					})
					}
				</ul>
			</div>
		</div>
	</div>
	<AboutMe />
</MainLayout>